<!DOCTYPE html>
<html lang="en">
  <head>
      <style>

      </style>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/beeps.css" />
  </head>
  <body>
    <div class="grid-container" style="margin-top: 25px;">

      <div class="grid-x grid-padding-x">

        <div class="large-6 cell">
          <div><canvas id="canvas" width="600" height="600"></canvas></div>
        </div>

        <div class="large-1 cell"></div>

        <div class="large-5 cell float-right">
          <div class="btn-group float-left">
            <div><button class="button rounded" id="pen"> Pen </button>
            <div><button class="button rounded" id="eraser"> Eraser </button>
            <div><button class="button rounded" id="rect"> Rectangle </button>
            <div><button class="button rounded" id="circle"> Circle </button>
            <form>
              <select id="penColor" style="width:max-content;">
                <option value="1" selected="selected">black</option>
                <option value="2">red</option>
                <option value="3">orange</option>
                <option value="4">yellow</option>
                <option value="5">green</option>
                <option value="6">blue</option>
                <option value="7">indigo</option>
              </select>
            </form>
            <div><input type="range" min="1" max="10" value="5" class="slider" id="penSize"></div>
          </div>
  
          <div class="btn-group float-left">
            <div><button class="button rounded" id="save">Save Drawing</button></div>
            <div><button class="button rounded" id="store">Store Drawings</button></div>
            <div><button class="button rounded" id="clear" style="background-color: red;">Clear Drawing</button></div>
          </div>
  
          <div class="btn-group float-left">
            <div><button class="button rounded" id="animate">Animate</button></div>
            <div><button class="button rounded" id="refresh" style="background-color: red;">Restart</button></div>
          </div>

          <div class="btn-group float-left">
            <div id="frameSaves" style="width:100%;"></div>
          </div>

        </div>

      </div>

    <div class="grid-x grid-padding-x">
      <div id="frameSaves"></div>
    </div>
    
    

    <script  src="/static/js/fml.js" type="text/javascript"></script>
  </body>
</html>
