<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            canvas {
                border: 2px solid black;
            }
        </style>

    </head>
    <body>
      <form>
        <select id="penColor">
          <option value="1" selected="selected">black</option>
          <option value="2">red</option>
          <option value="3">orange</option>
          <option value="4">yellow</option>
          <option value="5">green</option>
          <option value="6">blue</option>
          <option value="7">indigo</option>
        </select>
      </form>

      <div class="slidecontainer">
        <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
        <p>Value: <span id="demo"></span></p>
      </div>

        <div><canvas id="canvas" width="600" height="600"></canvas></div>
        <div><button id="clear">Clear Drawing</button></div>
        <div><button id="save">Save Drawing</button></div>
        <div><button id="restore">Restore Drawing</button></div>
        <script src="../clickDraw.js"></script>
    </body>
