<!--
  Canada Foxes - Deven Maheshwari, Emma Buller, Lucas Lee, Naomi Naranjo
  SoftDev
  P01 - ArRESTed Development
  2022-01-04
-->

<html>

<head>
    <meta charset="utf-8">
    <title>Coins</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/foundation.css">
</head>

<body>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">coins</li>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">

            <ul class="dropdown menu" data-dropdown-menu>
                {%if user %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {%else%}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {%endif%}
            </ul>

        </div>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="cell text-center ">
            <h1 class="text-center">Coins!</h1>
        </div>

    </div>

    <!-- Compressed JavaScript -->
</body>

</html>