<!DOCTYPE html>
<htmnl lang='en'>

    <head>
        <meta charset='utf-8'>
        <title>basic JS canvas work</title>
    </head>

    <style>
        #slate {
            border: 1px solid black
        }
    </style>

    <h1>1 0 1 0</h1>

    <h2>BEEP BOOP</h2>

    <div>
        <canvas height="600" width="600" id="canvas">
            BEEP BOOP ALT TEXT BEEP
        </canvas>
    </div>
    <div>
        <button class="button" id="getFrames">getFrames</button>
    </div>

    <script src="static/js/render.js"></script>
</htmnl>